body {
    width: 48rem;
    height: 36rem;
    padding: 8px;
}

#app-container {
    height: 100%;
    width: 100%;
    display: flex;
}

.inter-tree-node {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: medium;
}


.react-icons {
    color: black;
    min-width: 16px;
    width: 16px;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


body {
    /* background-color: #F6F8D5; */
}

#content-container {
}

#tree-container, #view-container {
    /* background-color: #98D2C0; */
}

#tree-content-container, #view-content-container {
    /* background-color: #4F959D; */
}

#footer-container {

}